<h2>Forgot your password?</h2>

<form method="POST" action=<%= forgot_password_session_url %> >
  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]">
  <input type="submit" value="Get password reset token!">
</form>