<ul>
	<% @posts.each do |post| %>
		<li>
			<p><%= post.body %><p>
			<p><%= post.author.email%></p>
			<% if post.author == current_user %>
				<%= button_to "Remove Post", post_url(post), :method => :delete%>
			<% end %>
			<ul>
				<% post.links.each do |link| %>
				<li><%= link_to link.url, link.url %></li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>