<%= link_to "Your Feed", feed_url %>
<br>
<br>
<%= link_to "Make a Post!", new_post_url %>

<h2>Your Circles</h2>
<br>


<ul>
  <% @circles.each do |circle| %>
    <li>
      <%= link_to circle.name, circle_url(circle) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Circle", new_circle_url %>